
  <div class="flex center column bloc center-old">

    <div class="flex bandeau around"><img class="logo" [src]="imageSrc" alt="logo du site"/><div class="flex text-haut">Connexion</div></div>
    <div class="flex padding-top">
        <form>
          <div class="flex between">
            <div class="flex column between padding-right text">
              <label for="email">Email : </label><br>
              <label for="mdp">Mot de passe : </label>
            </div>
            <div class="flex column">
              <input type="text" name="email" id="email" #email><br>
              <input type="password" name="mdp" id="mdp" #mdp>
            </div>
          </div>

        <div class="flex around padding-top-low">
          <button class="button" (click)="connexion(email, mdp)">Se connecter</button>
          <button class="button" (click)="redirectionInscription()">S'inscrire</button>
        </div>
        </form>

    </div>
  </div>

