/* You can add global styles to this file, and also import other style files */
.erreur{
  color:red;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0E3D73;
}

html{
  height:100%;
}

*{
  font-family: 'Roboto', sans-serif;
}

